.input-wrapper__div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    height: 3rem;
    font-family: 'Barlow Condensed';
    position: relative;
    margin: 0 5px;
}

.input{
    border: none;
    font-family: 'Barlow Condensed';
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 1.2rem;
    color: #545353;
    font-weight: 500;

}

.input-icon__div{
    border: none;
    outline: none;
    height: 100%;
    width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: animate_search_button 15s linear infinite;
}

.input:valid,.input:focus{
    border-top: 2px solid #23a6d5;
    border-left: 2px solid #23a6d5;
    border-bottom: 2px solid #23a6d5;
}

/* const colors = ["#9833FE", "#01FE99", "#FF6767", "#FFF35B"]; */

@keyframes animate_search_button {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.placeholder{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #545353;
    font-weight: 500;
    pointer-events: none;
}

.input:valid~.placeholder,.input:focus~.placeholder{
    display: none;
}